{% extends 'base.html' %}

{% load static %}

{% load jalali %}

{% block title %} داشبورد {% endblock %}

{% block content %}

{% include 'tasks/includes/header.html' %}

<div class="main-container d-flex column-flex">

    <!-- Welcome -->
    <section class="welcome card d-flex justify-space-between">

        <!-- User greetinig -->
        <div class="greet d-flex column-flex">
            <h2>سلام {{request.user.first_name}} &#128075;</h2>
            <p>امروز عالی پیش برو، تو از پسش بر میای !</p>
        </div>

        <!-- Date -->
        <div class="date d-flex align-items-center">

            <div class="detail d-flex column-flex">
                <p>
                    {{today}}
                </p>
                <p>
                    امروز {{ pending_tasks }} تا کار داری
                </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-calendar-days-icon lucide-calendar-days">
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" />
                <path d="M8 14h.01" />
                <path d="M12 14h.01" />
                <path d="M16 14h.01" />
                <path d="M8 18h.01" />
                <path d="M12 18h.01" />
                <path d="M16 18h.01" />
            </svg>
        </div>
    </section>

    <!-- Main Content -->
    <div class="dashboard-main-content d-grid">

        <!-- Side Bar -->
        <aside class="sidebar d-flex column-flex">

            <!-- Category -->
            <div class="category d-flex column-flex card">
                <div class="category-info d-flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-folder-icon lucide-folder">
                        <path
                            d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                    </svg>

                    <h3>دسته بندی</h3>

                </div>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        همه
                        <div class="item-count all d-flex align-items-center justify-content-center">
                            {{ category_counts.all }}
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        مطالعه
                        <div class="item-count education d-flex align-items-center justify-content-center">
                            {{ category_counts.study }}
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        شخصی
                        <div class="item-count personal d-flex align-items-center justify-content-center">
                            {{ category_counts.personal }}
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        کار
                        <div class="item-count work d-flex align-items-center justify-content-center">
                            {{ category_counts.work }}
                        </div>
                    </div>
                </a>
            </div>

            <!-- Task Priority -->
            <div class="priority d-flex column-flex card">

                <div class="priority-info d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-flag-icon lucide-flag">
                        <path
                            d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528" />
                    </svg>
                    <h3>اولویت</h3>
                </div>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        زیاد
                        <div class="item-count high-p d-flex align-items-center justify-content-center">
                            {{priority_counts.high}}
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        متوسط
                        <div class="item-count mid-p d-flex align-items-center justify-content-center">
                            {{priority_counts.medium}}
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item d-flex justify-space-between align-items-center">
                        کم
                        <div class="item-count low-p d-flex align-items-center justify-content-center">
                            {{priority_counts.low}}
                        </div>
                    </div>
                </a>
            </div>
        </aside>

        <!-- Main content -->
        <div class="main-content d-grid">

            <!-- Task status - Progress Bar and Detail -->
            <section class="task-status d-grid">

                <!-- Progress Bar -->

                <div class="progress-bar card d-flex column-flex">
                    <div class="top d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chart-no-axes-combined-icon lucide-chart-no-axes-combined">
                            <path d="M12 16v5" />
                            <path d="M16 14.639V21" />
                            <path d="M20 10.656V21" />
                            <path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15" />
                            <path d="M4 18.463V21" />
                            <path d="M8 14.656V21" />
                        </svg>
                        <p>پیشرفت امروز</p>
                    </div>
                    <div class="progress-container d-flex">
                        <div class="progress d-flex">
                            <div class="progress-fill" style="width: {{ progress }};"></div>
                        </div>
                        <label>{{progress}}%</label>
                    </div>
                    <p class="progress-paragraph">{{completed_tasks}} تسک از {{total_tasks}} تسک برنامه ریزی شده</p>
                </div>

                <!-- Tasks Information -->
                <div class="task-info card d-grid">
                    <div class="upcoming-task d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-clock-icon lucide-clock">
                            <circle cx="12" cy="12" r="10" />
                            <path d="M12 6v6l4 2" />
                        </svg>

                        <p>نزدیک ترین تسک</p>
                    </div>
                    <div class="task-details d-flex column-flex align-end">
                        {% if upcoming_task %}
                        <p>{{ upcoming_task.title }}</p>
                        <p>{{ upcoming_task.deadline|jalali }}</p>
                        {% else %}
                        <p class="no-task">تسکی برای آینده وجود ندارد.</p>
                        {% endif %}
                    </div>
                    <div class="progress-container d-flex">
                        <div class="progress d-flex">
                            <div class="progress-fill" style="width:60%;"></div>
                        </div>

                    </div>
                    <button class="continue-btn">
                        <a href="#">ادامه کار</a>
                    </button>
                </div>
            </section>

            <!-- Task Filters -->
            <section class="task-filters d-flex center">

                <!-- Filter Item -All- -->
                <a href="?filter=all">
                    <div class="filter-item card d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-grid2x2-icon lucide-grid-2x2">
                            <path d="M12 3v18" />
                            <path d="M3 12h18" />
                            <rect x="3" y="3" width="18" height="18" rx="2" />
                        </svg>

                        <p>همه</p>
                    </div>
                </a>

                <!-- Filter Item -incomplete- -->
                <a href="?filter=incomplete">
                    <div class="filter-item card d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-ellipsis-icon lucide-ellipsis">
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                            <circle cx="5" cy="12" r="1" />
                        </svg>
                        <p>نا تمام</p>
                    </div>
                </a>


                <!-- Filter Item -Overdue- -->
                <a href="?filter=overdue">
                    <div class="filter-item card d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-clock3-icon lucide-clock-3">
                            <circle cx="12" cy="12" r="10" />
                            <path d="M12 6v6h4" />
                        </svg>

                        <p>معوق</p>
                        </svg>
                    </div>
                </a>

                <!-- Filter Item -Important- -->
                <a href="?filter=important">
                    <div class="filter-item card d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-star-icon lucide-star">
                            <path
                                d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                        </svg>

                        <p>مهم</p>

                    </div>
                </a>

                <!-- Filter Item -Today- -->
                <a href="?filter=today">
                    <div class="filter-item card d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-calendar-check-icon lucide-calendar-check">
                            <path d="M8 2v4" />
                            <path d="M16 2v4" />
                            <rect width="18" height="18" x="3" y="4" rx="2" />
                            <path d="M3 10h18" />
                            <path d="m9 16 2 2 4-4" />
                        </svg>

                        <p>امروز</p>
                    </div>
                </a>

                <!-- New Task -->
                <button class="dashboard-btn d-flex center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus-icon lucide-plus">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                    <a href="#">افزودن</a>
                </button>
            </section>

            <!-- Tasks Information & Details -->
            <section class="tasks-information d-flex column-flex card">

                {% for task in tasks %}

                <!-- Task Information -->
                <div class="task-information d-flex justify-space-between align-items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-star-icon lucide-star">
                        <path
                            d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                    </svg>

                    <!-- Task Description -->
                    <div class="task-description d-flex column-flex">
                        <a href="#">
                            <h4> {{ task.title }} </h4>
                        </a>
                        <p>{{ task.description }}</p>
                    </div>

                    <!-- Task Priority -->
                    <div class="task-priority {{task.priority}}-priority d-flex center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-flag-icon lucide-flag">
                            <path
                                d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528" />
                        </svg>

                        <p class="priority-{{task.priority}}-text">{{ task.get_priority_display }}</p>
                    </div>

                    <!-- Task Status -->
                    <div class="task-statement {{task.status}}-status d-flex justify-space-between">
                        <p class="{{task.status}}-status-text">{{ task.get_status_display}}</p>
                    </div>

                    <!-- Task Deadline -->
                    <div class="task-deadline d-flex justify-space-between align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-calendar-fold-icon lucide-calendar-fold">
                            <path
                                d="M3 20a2 2 0 0 0 2 2h10a2.4 2.4 0 0 0 1.706-.706l3.588-3.588A2.4 2.4 0 0 0 21 16V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2z" />
                            <path d="M15 22v-5a1 1 0 0 1 1-1h5" />
                            <path d="M8 2v4" />
                            <path d="M16 2v4" />
                            <path d="M3 10h18" />
                        </svg>
                        <p class="deadline-text">{{task.deadline|jalali}}</p>
                    </div>
                </div>

                {% empty %}
                <p style="margin-right: 2rem;">هیچ تسکی وجود ندارد</p>
                {% endfor %}

            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer d-flex center" dir="ltr">

    <!-- Pagination -->
    <div class="pagination d-flex center">

        <!-- First Page -->
        <span class="other-page d-flex center">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="d-flex center">اول</a>
            <a href="?page={{page_obj.previous_page_number}}" class="d-flex center">قبلی</a>
            {% endif %}
        </span>

        <!-- Current Page -->
        <span class="current-page d-flex center">
            {{page_obj.number}}
        </span>

        <!-- Last Page -->
        <span class="other-page d-flex center">
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="d-flex center">بعدی</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="d-flex center">آخر</a>
            {% endif %}
        </span>
    </div>
</footer>

{% endblock %}


{% block extra_js %}
{% endblock %}