{% extends 'base.html' %}

{% load static %}

{% block title %} داشبورد {% endblock %}

{% block content %}

{% include 'tasks/includes/header.html' %}

<div class="main-container d-flex column-flex">

    <!-- Welcome -->
    <section class="welcome card d-flex justify-space-between">

        <!-- User greetinig -->
        <div class="greet d-flex column-flex">
            <h2>سلام فاطمه &#128075;</h2>
            <p>امروز عالی پیش برو، تو از پسش بر میای !</p>
        </div>

        <!-- Date -->
        <div class="date d-flex align-items-center">

            <div class="detail d-flex column-flex">
                <p>
                    یکشنبه 21 تیر 1405
                </p>
                <p>
                    امروز 5 تا کار داری
                </p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-calendar-days-icon lucide-calendar-days">
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" />
                <path d="M8 14h.01" />
                <path d="M12 14h.01" />
                <path d="M16 14h.01" />
                <path d="M8 18h.01" />
                <path d="M12 18h.01" />
                <path d="M16 18h.01" />
            </svg>
        </div>
    </section>

    <!-- Main Content -->
    <div class="dashboard-main-content d-flex align-items-center">

        <!-- Side Bar -->
        <aside class="sidebar d-flex column-flex">

            <!-- Category -->
            <div class="category d-flex column-flex card">
                <h3>دسته بندی</h3>

                <div class="item d-flex justify-space-between align-items-center">
                    همه
                    <div class="item-count all d-flex align-items-center justify-content-center">
                        10
                    </div>
                </div>

                <div class="item d-flex justify-space-between align-items-center">
                    مطالعه
                    <div class="item-count education d-flex align-items-center justify-content-center">
                        5
                    </div>
                </div>

                <div class="item d-flex justify-space-between align-items-center">
                    شخصی
                    <div class="item-count personal d-flex align-items-center justify-content-center">
                        2
                    </div>
                </div>

                <div class="item d-flex justify-space-between align-items-center">
                    کار
                    <div class="item-count work d-flex align-items-center justify-content-center">
                        3
                    </div>
                </div>
            </div>

            <!-- Task Priority -->
            <div class="priority d-flex column-flex card">
                <h3>اولویت</h3>

                <div class="item d-flex justify-space-between align-items-center">
                    زیاد
                    <div class="item-count high-p d-flex align-items-center justify-content-center">
                        1
                    </div>
                </div>

                <div class="item d-flex justify-space-between align-items-center">
                    متوسط
                    <div class="item-count mid-p d-flex align-items-center justify-content-center">
                        2
                    </div>
                </div>

                <div class="item d-flex justify-space-between align-items-center">
                    کم
                    <div class="item-count low-p d-flex align-items-center justify-content-center">
                        0
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main content -->
        <div class="main-content">

        </div>


    </div>
</div>

{% endblock %}


{% block extra_js %}
{% endblock %}