/* Main Container */

.main-container {
  padding: 2rem;
}

/* Main Container - Welcome section */

.lucide-calendar-days-icon {
  color: var(--color-primary);
  margin-right: var(--space-lg);
}

.detail {
  font-size: 0.8rem;
  line-height: 2.1;
}

.greet h2 {
  font-size: 1.2rem;
  padding-bottom: var(--space-md);
  font-weight: 400;
}

.greet p {
  font-size: var(--base-font-size);
}

/* Main Container */

.dashboard-main-content {
  margin-top: var(--space-lg);
  grid-template-columns: 20% 80%;
}

/* Main Content */

.main-content {
  min-width: 0;
  grid-template-areas:
    "task-status task-status"
    "filters filters"
    "tasks-information tasks-information";
  margin-right: var(--space-lg);
  row-gap: var(--radius-xl);
}

/* Progress Bar */

.task-status {
  min-width: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-area: task-status;
  column-gap: var(--radius-lg);
}

.task-info {
  row-gap: var(--radius-lg);
}

.progress-bar {
  gap: var(--space-xl);
}

.lucide-chart-no-axes-combined-icon,
.lucide-clock-icon {
  color: var(--color-primary);
}

.progress-bar .top p,
.upcoming-task p {
  color: var(--color-text-primary);
  font-size: var(--base-font-size);
  margin-right: var(--space-lg);
}

.progress {
  width: 100%;
  height: 12px;
  background: var(--color-surface);
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
  -webkit-border-radius: var(--radius-xl);
  -moz-border-radius: var(--radius-xl);
  -ms-border-radius: var(--radius-xl);
  -o-border-radius: var(--radius-xl);
}

.progress-fill {
  height: 100%;
  width: 60%;
  background: var(--color-primary);
  border-radius: 999px;
  transition: 0.3s;
}

/* Task status - Upcoming Tasks - Task Details */

.task-details p:first-child {
  color: var(--color-text-primary);
  margin-bottom: var(--space-lg);
}

/* Task filters */

.task-filters {
  grid-area: filters;
  gap: var(--radius-xl);
}

.task-filters a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: var(--transition-fast);
  -webkit-transition: var(--transition-fast);
  -moz-transition: var(--transition-fast);
  -ms-transition: var(--transition-fast);
  -o-transition: var(--transition-fast);
}

.task-filters .filter-item {
  height: fit-content;
  padding: 0.7rem 2rem;
  width: fit-content;
}

.task-filters button {
  height: fit-content;
  padding: 0.7rem;
}

.dashboard-btn a {
  margin-right: 0.5rem;
}

.task-filters .filter-item p {
  color: var(--color-text-primary);
  margin: 0 0.5rem;
  font-size: var(--base-font-size);
  white-space: nowrap;
}

.lucide-grid2x2-icon {
  color: var(--color-info);
}

.lucide-clock3-icon {
  color: var(--color-placeholder);
}

.lucide-star-icon {
  color: var(--color-warning);
}

.lucide-calendar-check-icon {
  color: var(--category-personal-text);
}

.lucide-ellipsis-icon {
  color: var(--color-danger);
}

/* Tasks Information and Details */

.tasks-information {
  min-width: 0;
  padding: 1rem 0;
  grid-area: tasks-information;
}

.task-information {
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 3rem;
  gap: 2.5rem;
}

.task-information:last-child {
  border-bottom: none;
}

.task-information:not(:first-child) {
  padding: 2rem 3rem 1rem;
}

.task-description {
  min-width: 0;
  flex: 1;
  gap: var(--space-lg);
}

.task-description,
.task-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-description h4 {
  font-weight: 450;
  line-height: 2;
}

.task-information,
.task-filters {
  flex-wrap: wrap;
}

.task-description h4:hover {
  color: var(--color-text-secondary);
  transition: var(--transition-fast);
  -webkit-transition: var(--transition-fast);
  -moz-transition: var(--transition-fast);
  -ms-transition: var(--transition-fast);
  -o-transition: var(--transition-fast);
}

.task-description p {
  overflow: hidden;
}

/* Task Priority */

.task-priority,
.task-statement,
.task-deadline {
  padding: 0.3rem 1.5rem;
  height: fit-content;
  flex-shrink: 0;
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
}

.task-priority p,
.task-statement p,
.task-deadline p {
  font-weight: 300;
  font-size: var(--base-font-size);
}

.task-statement p {
  margin-right: 0 !important;
}

/* Low Priority Task */
.priority-low-text {
  color: var(--priority-low-text);
}

.low-priority {
  background-color: var(--priority-low-bg);
}

/* Medium Priority Task */
.priority-medium-text {
  color: var(--priority-medium-text);
}

.medium-priority {
  background-color: var(--priority-medium-bg);
}

/* High Priority Task */
.priority-high-text {
  color: var(--priority-high-text);
}

.high-priority {
  background-color: var(--priority-high-bg);
}

/* Task Statement */

.task-statement {
  background-color: azure;
}

.pending-status {
  background-color: var(--status-pending-bg);
}

.pending-status-text {
  color: var(--status-pending-text);
}

.lucide-star-icon {
  fill: var(--color-warning);
}

.completed-status {
  background-color: var(--status-completed-bg);
}

.completed-status-text {
  color: var(--status-completed-text);
}

/* Task Dealine */

.task-deadline {
  background-color: var(--status-progress-bg);
}

.lucide-calendar-fold-icon {
  color: var(--status-pending-text);
}


/* 
=================
Responsive Design
=================
*/

@media screen and (max-width: 1180px) {
  .task-filters {
    /* gap: var(--space-lg); */
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1100px) {
  .task-information {
    flex-wrap: wrap;
  }

  .task-description {
    flex-basis: 100%;
    order: -1;
  }
}

@media screen and (max-width: 992px) {
  .task-filters {
    justify-content: flex-start;
  }

  .task-information {
    justify-content: flex-start;
  }

  .no-task {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 923px) {
  .task-information {
    justify-content: space-between;
  }
}

@media screen and (max-width: 840px) {
  .progress-container label {
    font-size: var(--base-font-size);
  }

  .category .category-info h3,
  .priority .priority-info h3 {
    font-size: var(--base-font-size);
  }

  .category .category-info svg,
  .priority .priority-info svg {
    width: 18;
  }

  .progress-paragraph {
    font-size: var(--base-font-size);
  }

  .task-information {
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  /* Header */

  .profile .profile-picture {
    width: var(--space-lg-1);
    height: var(--space-lg-1);
  }

  .profile .user-full-name {
    font-size: 0.8rem;
  }

  .logout-btn {
    font-size: 0.7rem;
  }

  .search form input {
    padding: 0.4rem 1rem 0.3rem;
  }

  .search form input::placeholder {
    font-size: 0.7rem;
  }

  /* Main Container */

  .progress-paragraph {
    font-size: 0.8rem;
  }

  .continue-btn {
    font-size: 0.8rem;
  }

  .task-filters .filter-item {
    padding: 0.6rem;
  }
  .task-filters .filter-item p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 710px) {
  /* Header */

  .dashboard-logo {
    grid-area: logo;
  }

  .search {
    grid-area: search;
  }

  .logout-btn {
    grid-area: logout;
  }

  .profile {
    grid-area: profile;
  }

  .dashboard-header {
    display: grid;
    grid-template-areas:
      "logout profile logo"
      "search search search";
  }

  /* Greeting Area */

  .greet h2 {
    font-size: var(--base-font-size);
  }

  .greet p {
    font-size: 0.7rem;
  }

  .date p {
    font-size: 0.7rem;
  }

  .main-content {
    grid-area: main;
  }

  .sidebar {
    display: grid;
  }

  .dashboard-main-content {
    row-gap: 2rem;
    grid-template-columns: unset;
    grid-template-areas: "main" "sidebar";
  }

  .task-filters {
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
  .lucide-flag-icon,
  .lucide-calendar-fold-icon {
    width: 18;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .task-status {
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  .task-filters {
    justify-content: flex-start;
  }

  .dashboard-btn a,
  .dashboard-btn svg {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 470px) {
  .dashboard-header {
    width: fit-content;
    padding: 1rem 0.5rem;
  }
  .dashboard-logo img {
    width: var(--space-lg-1);
    height: var(--space-lg-1);
  }
  .dashboard-header {
    grid-template-areas:
      "profile logo"
      "search  logout";
  }

  .dashboard-logo h1 {
    display: none;
  }

  .task-deadline {
    padding: 0.3rem 1.3rem;
  }
}
