{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="fatemeh-ch">
    <meta name="description" content="A modern task management application built with Django.">
    <meta name="keywords" content="todo,todo app,task management,taskflow">

    <meta name="theme-color" content="#22C55E">

    <title>{% block title %}TaskFlow{% endblock %}</title>

    <link rel="icon" href="{% static 'icons/favicon.png' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>

</html>